<div class="app__container">
<div class="grid">
    <div class="create_items">
    
    <h3 class="mt-4">Cập nhật sản phẩm</h3>

    <form  class="mt-4" method="POST" action="/items/{{item._id}}?_method=PUT">
        <div class="form-group">
            <label for="img">Hình ảnh</label>
            <input type="text" class="form-control" value="{{item.img}}" id="img" name="img">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{item.description}}</textarea>
        </div> 
        <div class="form-group">
            <label for="producer">Nhà sản xuất</label>
            <input type="text" class="form-control" value="{{item.producer}}" id="producer" name="producer">
        </div> 
        <div class="form-group">
            <label for="place">Địa chỉ</label>
            <input type="text" class="form-control" value="{{item.place}}" id="place" name="place">
        </div> 
        <div class="form-group">
            <label for="priceOld">Giá chưa sale</label>
            <input type="text" class="form-control" value="{{item.priceOld}}" id="priceOld" name="priceOld">
        </div> 
        <div class="form-group">
            <label for="priceNew">Giá sale</label>
            <input type="text" class="form-control" value="{{item.priceNew}}" id="priceNew" name="priceNew">
        </div>       
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
    </div>
    
</div>
</div>